apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

namespace: tinyschoolhub-prod

commonLabels:
  environment: production

replicas:
  - name: tiny-school-hub
    count: 3

images:
  # renovate: ignore - This is our own application image, not a dependency
  - name: tinyschoolhub/api
    newTag: v1.0.0

configMapGenerator:
  - name: tiny-school-hub-config
    behavior: merge
    literals:
      - ENV=production
      - LOG_LEVEL=info
      - LOG_FORMAT=json
      - RATE_LIMIT=50

patches:
  - patch: |-
      - op: replace
        path: /spec/minReplicas
        value: 3
      - op: replace
        path: /spec/maxReplicas
        value: 20
    target:
      kind: HorizontalPodAutoscaler
      name: tiny-school-hub
